body{
    background-color: rgb(182, 202, 195);
}

.container {
    max-width: 400px;
    margin:10px auto;
    padding: 15px;
    position: center;
    padding-top: 90px;

    border-color: black;
  }

  .form-wrap {
    /* 
      This is the white area around the form and heading, etc
    */
    background: rgba(300, 250, 400, 0.16);
    padding: 15px 25px;
    border-radius: 10px;
    width: 450px;
    font-weight: bold;
    background-color: white;
    align-items: center;
  }

  #heading{
    font-size: 40px;
  }

.form-wrap h2,
.form-wrap p {
  text-align: left;
  line-height: 2em;

}

.form-wrap #form-group {
    /* 
      Each label, input is wrapped in .form-group
    */
    margin: 15px 0;
  }

  .form-wrap #form-group label {
    color: rgb(20, 20, 20);
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px; 
  }

  .form-wrap #form-group input {
    /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
    border: 1px lightgray solid;
    border-radius: 10px;
    width: 80%; 
    padding: 10px 15px; 
    margin: 7px 0px;
  }

  .form-wrap button {
    /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
    display: block;
    width: 88.2%;
    margin: 20px 20px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: lightseagreen;
    color: white;
    font-size: 1.1em;

    
  }

  .form-wrap button:hover {
    /* 
      Hover background color for button is #37a08e
    */
    background: #37a08e;
    cursor: pointer;
  }

